<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"content="Easy Eats: find your favorite restaurants"/>
    <meta name="theme-color" content="#4ac061"/>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" href="/icon/favicon-96x96-dunplab-manifest-21129.png"/>
    <link rel="apple-touch-icon" href="/icon/apple-icon-180x180-dunplab-manifest-21129.png"/>
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
    />
    <title>Easy Eats</title>
  </head>

  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    <header id="topnav">
      <nav-bar></nav-bar>
    </header>

    <main>
      <div id="main-content"></div>
    </main>

    <my-footer></my-footer>

  </body>
</html>
