@media screen and (min-width: 576px) {
  #topnav .menu-toggle {
    display: none;
  }

  #topnav .nav-menu,
  #topnav.opened .nav-menu {
    all: unset;
    position: static;
    display: block;
    height: 100%;
  }

  #topnav .nav-links,
  #topnav.opened .nav-links {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    max-height: max-content;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
  }

  #topnav .nav-link {
    margin: 0.8em;
  }

  #topnav.opened .nav-link {
    margin: 0.8em;
  }

  #topnav .nav-link:last-child {
    margin-right: 0;
  }
  .container {
    max-width: 540px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .resto-detail-1 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .resto-detail-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .resto-detail-part2 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .detal-page {
    display: flex;
    flex-direction: row;
    max-width: 1350px;
  }
}

@media screen and (max-width: 768px) {
  .review-resto {
    grid-row: 2;
    grid-column: 1;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  #error-images {
    width: 500px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
